.banner {
    position: relative;
    height: 550px;
    overflow: hidden;
}
.banner img{

    width: 100%;
    min-height: 550px;
}

.banner p, .banner h2 {
    position: sticky;
    display: inline;

    bottom: 20px;
    margin: auto;
    padding: 5px;
    margin-bottom: 2%;
    background: rgb(23, 34, 26); 
    border-radius: 13px;

}


@media (max-width: 600px) {

    .banner {
        height: 350px;
    }
    .banner img{
    
        width: 100%;
        min-height: 350px;
    }
 }