.checkout {
    text-align: left;

}

.checkoutlist {
    display: block;
    width: 100%;
    text-align: left;
}

.item {
    background-color: #1F1B4E;
    display: inline-flex;
    grid-template-columns: auto 10%;
    width: 100%;
    height: 120px;
    box-shadow: 2px 11px 4px rgba(0, 0, 0, 0.20); 
    position: relative;
    margin-bottom: 15px;
}

.name {
    margin: auto 25px;
}

.delete {
    position: absolute;
    right: 0;
    top: 0;

}


.count, .weight {


   margin: auto  25px;
   padding: 3px;
   


}

.weight p {
    margin: 0;
}

.count p{
    display: inline-flex;
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: #B8FFD0;
    font-weight: bolder;
    font-size: xx-large;
    width: auto;
    float: right;
    position: absolute;
    right: 0;
    margin: 0;
}


/* price  & weight */

.price {
    color: #2DF064;
    display: block;
    margin:auto 25px;
    font-weight: bolder;
}

.total {
    position: relative;
    left: 20px;
}

.del {
    background: none;

    border: none;
    padding: 0px;
    margin: 5px 9px;

}



/* pc */

.img img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


.details, .quantity {
    margin: 4%
}


/* btn */

.cartbtn {
    display: block;
    text-align: center;
}


.checkout {
    display: block;
    margin: 50px auto auto;

}



/* mobile */

@media (max-width: 600px) {
 

    .img {
        width: 80px;
        height: 100%;
    }

    .item {
        height: 100px;
    }

    .price h2, .name h2 {
        margin: 0 auto;
    }

    
    .img {
        height: 100%;
    }

    .item {
        height: 80px;
    }

    .price h2, .name h2 {
        margin: 0 auto;
    }

    .weight {display: none;}

    .price h2, .name h2, .count {
        font-size: medium;
    }

    .count{
        left: 4px;
        top: 5px;
    }

    .cartlist a {
        height: 80px;
        width: 45px;
        overflow: hidden;
    }
 }








