.menu {
    text-align: left;
    display: ;
}

.card {
    text-align: center;
    display: inline-flex;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 30px;

}


@media (max-width: 600px) {

    .tcard img, .mcard img{
        height: 80px;
        width: 80px;
    }
  
    
    .tcard .img, .mcard .img{
      height: 80px;
      width: 80px;
  }
  
  
  .card{
    margin: 5px;
    width: 80px;
  }
  
  .tcard h2{
    font-size: small;
  }
  
  }