
nav {
    background: #28895A;
    margin: 0;
    padding: 0;
    width: fit-content%;

}

nav h1 {
    margin: auto;
    display: inline;
    text-align: center;
}

.rnav {
    float: right;
    padding: 2px 5px;
    margin: auto 5%;    
    display: inline-flex;
}

.rnav button {
    border: none;
    font-size: large;
    box-shadow: none;
    
}

.rnav input {
    border: none;
    font-size: small;
    box-shadow: none;
    width: 100px;
}

#form {

}

.navr {
    margin: auto 3%;
    padding: 0 5px;


}

.lnav {
    float: left;
    padding: 2px 8px;
}