.orders {
    text-align: left;
}

.item {
    background-color: #18453c;
    display: block;
    width: 100%;
    box-shadow: 2px 11px 4px rgba(0, 0, 0, 0.20); 
    position: relative;
    padding: 5px;
}

.det h3, .link  {
    display: table;
}
.view {
    display: inline;
    background: none;
    color: #2DF064;
    box-shadow: none;
    padding: 5px;
    border-radius: 15px;
    

}

span {
    font-size: larger;
    font-weight: bolder;
}



/* price  & weight */

.price span {
    color: #2DF064;
    font-weight: bolder;
}



/* btn */

.link {  
    bottom: 85px;
    float: right;
    text-align: center;
    display: inline;
    position: relative;
  
    right: 20px;
  
}

.link a {
    display: block;
}

.link2 {
    bottom: 70px;
}

.link button {
    display: inline;
    font-size: medium;
    margin: 5px 0;
}




/* mobile */

@media (max-width: 600px) {
 


    .item {
    }

    
 }



