
nav {
    background: #28895A;
    margin: 0;
    padding: 0;

}

#navh1 {
    margin: auto;
    display: inline;
    text-align: center;
}

.rnav {
    float: right;
    padding: 2px 5px;
    margin: auto 7px;    
    display: inline-flex;
}

.navr {
    margin: auto 3%;
    padding: 0 5px;


}

.lnav {
    float: left;
    padding: 2px 8px;
}