label {
    display: flex;
    
}

.inp div {

    width: fit-content;
    text-align: center;
    margin: auto auto 15px;
}


.inp input {
    border-radius: 12px;
    font-size: large;
    
}

.admin  {
    font-size: xx-small;
}

.email {
    
}

.size{
    display: flex;

}

.size input {
    width: 65px;
}

.size div  {
    margin: 0 2px;
}

.sizes p {
    margin: 0;
}

.sizes {
    border: 3px #08422a solid; 
}