label {
    display: flex;
    
}

.inp div {

    width: fit-content;
    text-align: center;
    margin: auto auto 15px;
}


.inp input{
    border-radius: 12px;
    font-size: large;
    
}


.admin  {
    font-size: xx-small;
}

.email {
    
}

.size{
    display: flex;

}

.size input {
    width: 65px;
}

.size div  {
    margin: 0 2px;
}

.sizes p {
    margin: 0;
}

.sizes {
    border: 3px #08422a solid; 
}

.cat select {
    
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    border: 2px solid rgb(6, 61, 8) ;
    box-shadow: none;
    color: #ffffff;
    background-color: rgb(9, 34, 26);
    font-weight: bolder;
    width: 239px;
    text-align: left;
}

.inp textarea{
    width: 239px;
    height: 120px;
    font-size: large;
}